# Removendo os arquivos de configuração e os módulos do Node
/node_modules
/.pnp
.pnp.js

# Removendo os arquivos de relatórios
/coverage

# Removendo o diretório com os arquivos convertidos para o ambiente de produção
/build

# Outros arquivos a serem ignorados
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
